.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: fixed;
  cursor: default;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;

}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

embed,
iframe {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%;

}


.popup {
  top: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  z-index: 10;
  display: block;
  visibility: hidden;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  border-radius: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.overlay:target+.popup {
  top: 20%;
  visibility: visible;
  opacity: 1;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #5454d4;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 50%;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover {
  background-color: rgba(11, 33, 231, 0.93);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.popup p,
.popup div {
  margin-bottom: 10px;
}



.button {

  font-size: 20px;
  color: white;
  width: 270px;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer;

}

.button-blue {
  background-color: #0600FF;
}

.button:hover {
  background-color: #5555ff;
  box-shadow: 0 0 10px 10px #b7b7ff inset;
}

.button:active {
  background-color: #0000ff;
  box-shadow: 0 0 0 0 #ffffff;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(51, 51, 199, 0.4);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal_wrapper {
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  z-index: 104;
  max-height: 90vh;
  overflow: auto;
  color: rgb(25, 17, 132);
  transition: .3s;
}

.modal_wrapper.sm {
  height: fit-content;
}

.modal_wrapper.lg {
  height: fit-content;
}

.primary_textarea {
  background: transparent;
  border: 1px solid #9D9D9D;
  width: 100%;
  border-radius: 4px;
  color: rgb(33, 20, 136);
  display: block;
  padding: 10px 15px;
  transition: .3s;
}


.primary_textarea:focus {
  outline: none;
}

.primary_textarea::placeholder {
  font-weight: 300;
  color: #ADADAD;
  font-size: .9rem;
}

.primary_input {
  background: transparent;
  border: 1px solid #9D9D9D;
  width: 100%;
  border-radius: 4px;
  color: #111;
  display: block;
  padding: 10px 15px;
  transition: .3s;
}


.primary_input:focus {
  outline: none;
}

.primary_input::placeholder {
  font-weight: 300;
  color: #ADADAD;
  font-size: .9rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
  margin: 0 auto;
  padding: 50px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 774px) {
  .top-nav{
    margin: 15px auto;
    padding: 0 20px;
  }
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid rgb(44, 44, 168);
    height: 4.5em;
    padding: 1em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #596fdf9d;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}